﻿@{
    ViewBag.Title = "CreateNewConsultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.ConsultationModel
<!-- start: PAGE HEADER -->
@section CSS{
    <link rel="stylesheet" href="~/Content/assets/plugins/summernote/build/summernote.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
}
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Consultation </a></li>
            <li class="active">Create New... </li>
        </ol>
        <div class="page-header">
            <h1>
                New Consultation <small>create new consultation</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>New Consultation
                <div class="panel-tools">
                    @* <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                        href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                            href="#"><i class="fa fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand"
                                href="#"><i class="fa fa-resize-full"></i></a><a class="btn btn-xs btn-link panel-close"
                                    href="#"><i class="fa fa-times"></i></a>*@
                </div>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="fa fa-pencil-square teal"></i>Create a new consultation</h2>
                <p>
                    Create a new consultation.
                </p>
                <a>
                    @Html.ActionLink("Medical History", "IMedicine", new { controller = "Medicine" }, new { target = "_blank", @class = "edit" })
                </a>
                <hr />
                <form method="post" id="form" action="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-times-sign"></i>You have some form errors. Please check below.
                        </div>
                        <div class="successHandler alert alert-success no-display">
                            <i class="fa fa-ok"></i>Your form validation is successful!
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">
                                Consultation Conclusion
                            </label>
                            @Html.TextAreaFor(x => x.Consultation, new { @class = "form-control", id = "textarea", style = "height:200px", Name = "consultation", placeholder = "Click start to enable voice dictation" })
                        </div>
                    </div>
                </div>
                


                <br />
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-bricky btn-block" id="button" type="button" onclick="toggleStartStop()">
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-yellow btn-block" type="button" onclick="Speak()">
                                Review
                            </button>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-light-grey btn-block" type="button" onclick="window.location='/Doctor/ListOfDoctors';">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-4">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-blue btn-block" type="submit">
                            Save
                        </button>
                    </div>
                </div>
                </form>
                @*<button id="button" onclick="toggleStartStop()">
                </button>
                <div style="border: dotted; padding: 10px">
                    <span id="final_span"></span><span id="interim_span" style="color: grey"></span>
                </div>*@
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/summernote/build/summernote.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-validation.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-elements.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            FormElements.init();
            FormValidator.init();


        });

        function Speak() {
            var u = new SpeechSynthesisUtterance();
            u.text = $("#textarea").val(); ;
            u.lang = 'en-US';
            // u.rate = 1.2;
            u.onend = function (event) { alert('Finished in ' + event.elapsedTime + ' seconds.'); }
            speechSynthesis.speak(u);
        }

        //        function StartSpeak() {
        //            consultationMsg = $("#consultation").val();
        //            $.ajax({
        //                "url": "/Consultation/Speak/",
        //                "type": "get",
        //                "dataType": "json",
        //                "data": { ConsulationMsg: consultationMsg },
        //                "success": function (data) {
        //                }
        //            });
        //        }


        var recognizing;
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        reset();
        recognition.onend = reset();

        recognition.onresult = function (event) {
            for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    textarea.value += event.results[i][0].transcript;
                }
            }
        }

        function reset() {
            recognizing = false;
            button.innerHTML = "Click to Speak";
            $("#button").removeClass('btn-green').addClass('btn-bricky');
        }

        function toggleStartStop() {
            if (recognizing) {
                recognition.stop();
                reset();
            } else {
                recognition.start();
                recognizing = true;
                button.innerHTML = "Click to Stop";
                $("#button").removeClass('btn-bricky').addClass('btn-green');    
            }
        }

        //        var recognizing;
        //        var recognition = new webkitSpeechRecognition();
        //        recognition.continuous = true;
        //        recognition.interim = true;
        //        reset();
        //        recognition.onend = reset;

        //        recognition.onresult = function (event) {
        //            var final = "";
        //            var interim = "";
        //            for (var i = 0; i < event.results.length; ++i) {
        //                if (event.results[i].final) {
        //                    final += event.results[i][0].transcript;
        //                } else {
        //                    interim += event.results[i][0].transcript;
        //                }
        //            }
        //            final_span.innerHTML = final;
        //            interim_span.innerHTML = interim;
        //        }

        //        function reset() {
        //            recognizing = false;
        //            button.innerHTML = "Click to Speak";
        //        }

        //        function toggleStartStop() {
        //            if (recognizing) {
        //                recognition.stop();
        //                reset();
        //            } else {
        //                recognition.start();
        //                recognizing = true;
        //                button.innerHTML = "Click to Stop";
        //                final_span.innerHTML = "";
        //                interim_span.innerHTML = "";
        //            }
        //        }

    </script>
}
