﻿@{
    ViewBag.Title = "IMedicine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.PediatricMedicalModel
@section CSS{
    <link href="~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css"
          rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/datepicker/css/datepicker.css"
          type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
          type="text/css" />
}


<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB --->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Patients </a></li>
            <li><a href="~/Patient/ListOfPatients">List Of Patients </a></li>
            <li class="active">Internal Medicine </li>
        </ol>
        <div class="page-header">
            <h1>
                Internal Medicine <small>Patient's Name@*@Model.FirstName @Model.LastName*@</small>
            </h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB- -->
    </div>
</div>
 @*end: PAGE HEADER*@ 
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul id="myTab" class="nav nav-tabs tab-bricky">

                <li class="active">
                    <a href="#panel_tab1" data-toggle="tab">
                        <i class="green fa fa-medkit">  </i>General Info
                    </a>
                </li>
                <li>
                    <a href="#panel_tab2" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Cardiovascular

                    </a>
                </li>
                <li>
                    <a href="#panel_tab3" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Medical History
                    </a>
                </li>

                <li>
                    <a href="#panel_tab4" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Complaint History
                    </a>
                </li>
                <li>
                    <a href="#panel_tab5" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Review Assistant
                    </a>
                </li>
                <li>
                    <a href="#panel_tab6" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>physical Exam History
                    </a>
                </li>
                <li>
                    <a href="#panel_tab7" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Medication
                    </a>
                </li>
                <li>
                    <a href="#panel_tab8" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Diagnostics
                    </a>
                </li>
                <li>
                    <a href="#panel_tab9" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Management
                    </a>
                </li>
                <li>
                    <a href="#panel_tab10" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Files
                    </a>
                </li>
                <li>
                    <a href="#panel_tab11" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Hospitalization Summary
                    </a>
                </li>
                <li>
                    <a href="#panel_tab12" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Consultation
                    </a>
                </li>
                <li>
                    <a href="#panel_tab13" data-toggle="tab">
                        <i class="green fa fa-plus-square"></i>Biological Parameters
                    </a>
                </li>

            </ul>
            <form method="post" id="form" action="">
                <div class="tab-content">
                            @*Content Tab General Info*@
                            <div class="tab-pane in active" id="panel_tab1">
                        <br />
                        <p>
                            <b>General Info</b>
                        </p>
                        <div class="row">
                            <br />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        Blood Type
                                    </label>
                                    @Html.DropDownListFor(m => m.BloodType, MedOR.Common.Comm.GetBloodTypeList(), "---", new { @class = "form-control", id = "bloodtype", Name = "bloodtype" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Height
                                    </label>
                                    @Html.TextBoxFor(x => x.BHeight, new { @class = "form-control limited", maxlength = "15", id = "BHeight", Name = "BHeight" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                         Weight
                                    </label>
                                    @Html.TextBoxFor(x => x.BNeonatalWeight, new { @class = "form-control limited", maxlength = "15", id = "BNeonatalWeight", Name = "BNeonatalWeight" })
                                </div>
                            </div>
                            <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Birth</label>
                                <div class="input-group">
                                <input type="text" id="startDate" name="startDate" data-date-format="mm-dd-yyyy" value="10-01-2018" data-date-viewmode="years" class="form-control date-picker">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                </div>
                            </div>
                            </div>
                        <br/>
                        <p style='font-size: medium'>
                            <b>General Note</b>
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Note
                                    </label>
                                    @Html.TextAreaFor(x => x.MIGeneralNote, new { @class = "form-control", style = "height:100px", id = "MIGeneralNote", Name = "MIGeneralNote" })
                                </div>
                            </div>
                        </div>
                        
                           
                        </div>
                            @*contents Cardiovascular*@
                            <div class="tab-pane" id="panel_tab2">
                        <br />
                        <p>
                            <b>Cardiovascular</b>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        @Html.CheckBoxFor(x => x.PHTA, new { @class = "flat-green", id = "tabaco", Name = "tabaco" })
                                        tabaco
                                    </label>
                                </div>
                            </div>
                     
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        @Html.CheckBoxFor(x => x.PHTA, new { @class = "flat-green", id = "tabaco", Name = "tabaco" })
                                        tabaco
                                    </label>
                                </div>
                            </div>
                        </div>
                  
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextAreaFor(x => x.PMedicines, new { @class = "form-control", id = "textarea", style = "height:50px", Name = "description", placeholder = "Description Area" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextAreaFor(x => x.PMedicines, new { @class = "form-control", id = "textarea", style = "height:50px", Name = "description", placeholder = "Description Area" })
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                            @*Content Medical History*@
                            <div class="tab-pane" id="panel_tab3">
                                <br />
                                <p>
                                    <b>Medical History</b>
                                </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        @Html.CheckBoxFor(x => x.PHTA, new { @class = "flat-green", id = "tabaco", Name = "tabaco" })
                                        allergie
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        @Html.CheckBoxFor(x => x.PHTA, new { @class = "flat-green", id = "tabaco", Name = "tabaco" })
                                        gynaecology
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextAreaFor(x => x.PMedicines, new { @class = "form-control", id = "textarea", style = "height:50px", Name = "description", placeholder = "Description Area" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextAreaFor(x => x.PMedicines, new { @class = "form-control", id = "textarea", style = "height:50px", Name = "description", placeholder = "Description Area" })
                                </div>
                            </div>

                        </div>
                            </div>
                            @*Content Complaint History*@
                            <div class="tab-pane " id="panel_tab4">
                        <br/>
                        <p>
                            <b>Complaint History table</b>
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-external-link-square"></i>Complaint History  <b>Patient's Name @*@Model.FirstName @Model.LastName*@</b>
                                        <div class="panel-tools">
                                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                                            <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                            <i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh" href="#">
                                            <i class="fa fa-refresh"></i></a>
                                            <a class="btn btn-xs btn-link panel-expand" href="#"><i class="fa fa-resize-full"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-hover" id="sample-table-1">
                                            <thead>
                                                <tr>
                                                    <th class="center">
                                                        #
                                                    </th>
                                                    <th>
                                                       Title
                                                    </th>
                                                    <th class="hidden-xs">
                                                        Date
                                                    </th>
                                                   
                                                    <th>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">
                                                        1
                                                    </td>
                                                    <td class="hidden-xs">
                                                        <a>Not Bad</a>  
                                                    </td>
                                                    <td>
                                                        01/02/2018
                                                    </td>
                                                    
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit">
                                                                <i class="fa fa-edit"></i>
                                                            </a><a href="#" class="btn btn-xs btn-green tooltips" data-placement="top"
                                                                   data-original-title="Share"><i class="fa fa-share"></i></a><a href="#" class="btn btn-xs btn-bricky tooltips"
                                                                                                                                 data-placement="top" data-original-title="Remove">
                                                                <i class="fa fa-times fa fa-white">
                                                                </i>
                                                            </a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                                </a>
                                                                <ul role="menu" class="dropdown-menu pull-right">
                                                                    <li role="presentation">
                                                                        <a role="menuitem" tabindex="-1" href="#">
                                                                            <i class="fa fa-edit">
                                                                            </i>Edit
                                                                        </a>
                                                                    </li>
                                                                    <li role="presentation">
                                                                        <a role="menuitem" tabindex="-1" href="#">
                                                                            <i class="fa fa-share">
                                                                            </i>Add
                                                                        </a>
                                                                    </li>
                                                                    <li role="presentation">
                                                                        <a role="menuitem" tabindex="-1" href="#">
                                                                            <i class="fa fa-times">
                                                                            </i>Remove
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <p>
                            <b>Add Complaint</b>
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Note
                                    </label>
                                    @Html.TextAreaFor(x => x.MHGeneralNote, new { @class = "form-control", style = "height:100px", id = "MHGeneralNote", Name = "MHGeneralNote" })
                                </div>
                            </div>
                        </div>
                    </div>
                            @*Content Review Assistant*@
                            <div class="tab-pane" id="panel_tab5">
                                <br />
                                <p>
                                    <b>Review Assistant</b>
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(x => x.PMedicines, new { @class = "form-control", id = "textarea", style = "height:50px", Name = "description", placeholder = "Description Area" })
                                    </div>
                                </div>
                            </div>
                            @*Content Physical Exam History*@
                            <div class="tab-pane" id="panel_tab6">
                                <br />
                                <p>
                                    <b>Physical Exam History</b>
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-external-link-square"></i>Complaint History  <b>Patient's Name @*@Model.FirstName @Model.LastName*@</b>
                                                <div class="panel-tools">
                                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                                        <i class="fa fa-wrench"></i>
                                                    </a><a class="btn btn-xs btn-link panel-refresh" href="#">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                                        <i class="fa fa-resize-full"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-hover" id="sample-table-1">
                                                    <thead>
                                                        <tr>
                                                            <th class="center">
                                                                #
                                                            </th>
                                                            <th>
                                                                Title
                                                            </th>
                                                            <th class="hidden-xs">
                                                                Date
                                                            </th>

                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="center">
                                                                1
                                                            </td>
                                                            <td class="hidden-xs">
                                                                Not Bad
                                                            </td>
                                                            <td>
                                                                01/02/2018
                                                            </td>

                                                            <td class="center">
                                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                    <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a><a href="#" class="btn btn-xs btn-green tooltips" data-placement="top"
                                                                           data-original-title="Share"><i class="fa fa-share"></i></a><a href="#" class="btn btn-xs btn-bricky tooltips"
                                                                                                                                         data-placement="top" data-original-title="Remove">
                                                                        <i class="fa fa-times fa fa-white">
                                                                        </i>
                                                                    </a>
                                                                </div>
                                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                            <i class="fa fa-cog"></i><span class="caret"></span>
                                                                        </a>
                                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                                    <i class="fa fa-edit">
                                                                                    </i>Edit
                                                                                </a>
                                                                            </li>
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                                    <i class="fa fa-share">
                                                                                    </i>Add
                                                                                </a>
                                                                            </li>
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                                    <i class="fa fa-times">
                                                                                    </i>Remove
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            @*Content Medication*@
                            <div class="tab-pane" id="panel_tab7">
                            
                                <br />
                                <p>
                                    <b>Medicatione</b>
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-external-link-square"></i>Medication History  <b>Patient's Name @*@Model.FirstName @Model.LastName*@</b>
                                                <div class="panel-tools">
                                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                                        <i class="fa fa-wrench"></i>
                                                    </a><a class="btn btn-xs btn-link panel-refresh" href="#">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                                        <i class="fa fa-resize-full"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-bordered table-hover" id="sample-table-1">
                                                    <thead>
                                                        <tr>
                                                            <th class="center">
                                                                #
                                                            </th>
                                                            <th>
                                                                Name of Medication
                                                            </th>
                                                            <th class="hidden-xs">
                                                                Date
                                                            </th>

                                                            <th>
                                                                Doze/Strength
                                                            </th>
                                                            <th  >
                                               
                                                                <table class="table table-bordered table-hover" id="sample-table-1">
                                                                    <thead>
                                                                        <tr><th></th><th></th><th>How Often</th><th></th><th></th></tr>
                                                                      

                                                                        <tr >
                                                                            <th class="center"@*style="transform: rotate(90deg);"*@>morning</th>
                                                                            <th class="center" >Afternoon</th>
                                                                            <th class="center">Evening</th>
                                                                            <th class="center">BedTime</th>
                                                                            <th class="center">As Needed</th>
                                                                        </tr>
                                                                    </thead>
                                                                    </table>
                                                            </th>
                                                            <th>                                                              
                                                                How Much
                                                            </th>
                                                            <th>
                                                                Day Stop
                                                            </th>
                                                            <th>
                                                                Reason
                                                            </th>
                                                            <th>
                                                                Additional Information
                                                            </th>
                                                          
                                                            <th>
                                                       
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="center">
                                                                1
                                                            </td>
                                                            <td class="hidden-xs">
                                                             Amoxicillin
                                                            </td>
                                                            <td>
                                                                01/02/2018
                                                            </td>
                                                            <td>
                                                               1mg
                                                            </td>
                                                         
                                                            <td >
                                                                <table class="table table-bordered table-hover" id="sample-table-1">
                                                                    <thead>
                                                                        <tr >
                                                                           
                                                                            <th class="center">
                                                                             <div class="checkbox-table">
                                                                                <label>
                                                                                    @Html.CheckBoxFor(x => x.Consanguinity, new { @class = "flat-grey" })
                                                                                </label>
                                                                            </div></th>
                                                                            <th class="center"><div class="checkbox-table">
                                                                               <label>
                                                                                   @Html.CheckBoxFor(x => x.Consanguinity, new { @class = "flat-grey" })
                                                                                </label>
                                                                             </div></th>
                                                                            <th class="center"> <div class="checkbox-table">
                                                                                <label>
                                                                                      @Html.CheckBoxFor(x => x.Consanguinity, new { @class = "flat-grey", @checked = "true" })
                                                                                 </label>
                                                                            </div></th>
                                                                            <th class="center"><div class="checkbox-table">
                                                                                  <label>
                                                                                   @Html.CheckBoxFor(x => x.Consanguinity, new { @class = "flat-grey" })
                                                                                    </label>
                                                                                   </div></th>
                                                                            <th class="center">
                                                                                <div class="checkbox-table">
                                                                                    <label>
                                                                                        @Html.CheckBoxFor(x => x.Consanguinity, new { @class = "flat-grey" })
                                                                                    </label>
                                                                                </div>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                1Pill 
                                                            </td>
                                                            <td>
                                                                01/07/2018
                                                            </td>
                                                            <td>
                                                                Allergie
                                                            </td>
                                                            <td>
                                                                Description
                                                            </td>

                                                            <td class="center">
                                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                    <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a><a href="#" class="btn btn-xs btn-green tooltips" data-placement="top"
                                                                           data-original-title="Share"><i class="fa fa-share"></i></a><a href="#" class="btn btn-xs btn-bricky tooltips"
                                                                                                                                         data-placement="top" data-original-title="Remove">
                                                                        <i class="fa fa-times fa fa-white">
                                                                        </i>
                                                                    </a>
                                                                </div>
                                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                            <i class="fa fa-cog"></i><span class="caret"></span>
                                                                        </a>
                                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                                    <i class="fa fa-edit">
                                                                                    </i>Edit
                                                                                </a>
                                                                            </li>
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                                    <i class="fa fa-share">
                                                                                    </i>Add
                                                                                </a>
                                                                            </li>
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                                    <i class="fa fa-times">
                                                                                    </i>Remove
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Content Diagnostics*@
                            <div class="tab-pane" id="panel_tab8">   
                                @*@Html.DropDownListFor(x => x.Address, new List<SelectListItem> {
    new SelectListItem { Text = "Inventory", Value = "1" },
    new SelectListItem{ Text="Consultation", Value = "2" }
    }, "--Select Item--", new { @class ="form-control", id = "items", Name = "items" })*@  
                                <br />
                                <p>
                                    <b>Diagnostics</b>
                                </p>
<div class="row">
  
    <div class="col-md-6">
<p>Select Categorie ICD-10 CODES</p>

        @Html.DropDownListFor(x => x.BApgar, new List<SelectListItem> {
                                    new SelectListItem { Text = "AAA", Value = "AAA" }

       }, "--Select--",
    new
    {
        @class = "form-control selectpicker",

        onchange = "this.form.submit();"
    }
    )

       

    </div>
    <div class="col-md-6">
        <p>Select ICD-10 CODES</p>

        @Html.DropDownListFor(x => x.BApgar, new List<SelectListItem> {
                                    new SelectListItem { Text = "04B00ZZ", Value = "04B00ZZ" },
                                    new SelectListItem { Text = "04R00JZ", Value = "04R00JZ" },
                                    new SelectListItem { Text = "04R00KZ", Value = "04R00KZ" },
                                    new SelectListItem { Text = "04R047Z", Value = "04R047Z" },
                                    new SelectListItem { Text = "04R04JZ", Value = "04R04JZ" },
                                    new SelectListItem { Text = "04R04KZ", Value = "04R04KZ" },
                                    new SelectListItem { Text = "0X600ZZ", Value = "0X600ZZ" },
                                    new SelectListItem { Text = "0X610ZZ", Value = "0X610ZZ" },
                                    new SelectListItem { Text = "0X620ZZ", Value = "0X620ZZ" },
                                    new SelectListItem { Text = "0X630ZZ", Value = "0X630ZZ" }
       }, "--Select--",
    new
    {
        @class = "form-control selectpicker",

        onchange = "this.form.submit();"
    }
    )

        @*@(Html.Kendo().DropDownListFor(x=> x.)
            .OptionLabel("--Select--")
             .DataTextField("Description")
            .Value(Model.BApgar)
            .Text(Model.BApgar)
            .DataValueField("Id")
            .HtmlAttributes(new { style = "width: 100%;", tabindex = "31" })
            .BindTo(Model)
            .Filter("contains")

             .AutoBind(false))*@

    </div>
    
    
</div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <br />
                                            <br />
                                            <label class="control-label">
                                                Note
                                            </label>
                                            @Html.TextAreaFor(x => x.MHGeneralNote, new { @class = "form-control", style = "height:100px", id = "MHGeneralNote", Name = "MHGeneralNote" })
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            @*Content Management*@
                            <div class="tab-pane" id="panel_tab9">
                                
                                <br />
                                <p>
                                    <b>Management</b>
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Note:
                                            </label>
                                            @Html.TextAreaFor(x => x.MHGeneralNote, new { @class = "form-control", style = "height:100px", id = "MHGeneralNote", Name = "MHGeneralNote" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Content Files*@
                            <div class="tab-pane" id="panel_tab10">
                        <br />
                        <p>
                            <b>Files</b>
                        </p>
                        <div class="row">
                            <div class="col-md-6" >

                                <form action="" method="post" enctype="multipart/form-data">

                                    <label for="file">Filename:</label>
                                    <input type="file" name="file" id="file" /> 

                                </form>


                            </div>
                        </div>

                            </div>
                            @*Content Hospitalization Summary*@
                            <div class="tab-pane" id="panel_tab11">
                                <br />
                                <p>
                                    <b>Files</b>
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-external-link-square"></i>Complaint History  <b>Patient's Name @*@Model.FirstName @Model.LastName*@</b>
                                                <div class="panel-tools">
                                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                                        <i class="fa fa-wrench"></i>
                                                    </a><a class="btn btn-xs btn-link panel-refresh" href="#">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                                        <i class="fa fa-resize-full"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-hover" id="sample-table-1">
                                                    <thead>
                                                        <tr>
                                                            <th class="center">
                                                                #
                                                            </th>
                                                            <th>
                                                                Hospital Name
                                                            </th>
                                                            <th class="hidden-xs">
                                                                Admission date
                                                            </th>
                                                            <th class="hidden-xs">
                                                                departure date
                                                            </th>
                                                            <th class="hidden-xs">
                                                                length of stay
                                                            </th>
                                                            <th class="hidden-xs">
                                                                Description Title
                                                            </th>
                                                            
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="center">
                                                                1
                                                            </td>
                                                            <td class="hidden-xs">
                                                               Levant
                                                            </td>
                                                            <td>
                                                                01/02/2018
                                                            </td>
                                                            <td>
                                                                10/02/2018
                                                            </td>
                                                            <td>
                                                                10 days
                                                            </td>
                                                            <td>
                                                               It is an informal way of referring to joint pain or joint disease.
                                                            </td>

                                                            <td class="center">
                                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                    <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a><a href="#" class="btn btn-xs btn-green tooltips" data-placement="top"
                                                                           data-original-title="Share"><i class="fa fa-share"></i></a><a href="#" class="btn btn-xs btn-bricky tooltips"
                                                                                                                                         data-placement="top" data-original-title="Remove">
                                                                        <i class="fa fa-times fa fa-white">
                                                                        </i>
                                                                    </a>
                                                                </div>
                                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                            <i class="fa fa-cog"></i><span class="caret"></span>
                                                                        </a>
                                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                                    <i class="fa fa-edit">
                                                                                    </i>Edit
                                                                                </a>
                                                                            </li>
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                                    <i class="fa fa-share">
                                                                                    </i>Add
                                                                                </a>
                                                                            </li>
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="-1" href="#">
                                                                                    <i class="fa fa-times">
                                                                                    </i>Remove
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Content Consultation*@
                            <div class="tab-pane " id="panel_tab12">

                                <br />
                                <p>
                                    <b>Consultation</b>
                                </p>
                                <div class="row">
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(x => x.PMedicines, new { @class = "form-control", id = "textarea", style = "height:50px", Name = "description", placeholder = "Description Area" })
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @*<a href="#panel_tab3" data-toggle="tab">*@
                                          
                                                @*<a href="#panel_tab3" data-toggle="tab">
                                                    <i class="green fa fa-plus-square"></i>Medical History
                                                </a>*@
                                        
                                        
                                          </div>
                                    </div>
                                   

                                </div>


                            </div>
                            @*Content Biological Parameters*@
                            <div class="tab-pane" id="panel_tab13">
                                <br />
                                <p>
                                    <b>Biological Parameters</b>
                                </p>

                            </div>


                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-light-grey
            btn-block" type="button" onclick="window.location='/Patient/ListOfPatients';">
                                    Cancel
                                </button>
                            </div>
                            <div class="col-md-4">
                                <p>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-blue btn-block" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
</form>
        </div>
      </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type='text/javascript' src='../Content/assets/plugins/select2/select2.min.js'></script>
<script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/form-elements.js"></script>    
<script type="text/javascript" src="~/Content/assets/js/form-calendar.js"></script>       
<script>
  
    jQuery(document).ready(function () {
    
        Calendar.init();
       
        FormElements.init();

    });
    
</script>
