﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.UserModel

@*@model DataModel.InvoicesModel*@
@section CSS{
<link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/datepicker/css/datepicker.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/summernote/build/summernote.css" />
}
   


<!DOCTYPE html>
<html lang="en" class="no-js">

 <!--START: BODY -->
<head>

    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
  
    <link rel="stylesheet" href="assets/css/print.css" type="text/css" media="print" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
    <!-- Start: PAGE HEADER -->
    <div class="row">
        <div class="col-sm-12">
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li><i class="clip-file"></i><a href="#"> Invoices </a></li>
            
            </ol>
            <div class="page-header">
                <h1>
                   Invoices <small>create new Invoice</small>
                </h1>
            </div>
            <p id="DateT" style="font-size: 14px;">
            </p>
            <!-- end: PAGE TITLE & BREADCRUMB -->
        </div>
    </div>
    <!-- end: PAGE HEADER -->

    <!-- start: PAGE -->
    <div class="container">
        <div class="invoice">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-external-link-square"></i>Invoice
                        </div>

                        <div class="panel-body">

                            <h2>
                                <i class="fa fa-pencil-square teal"></i>Create New Invoice
                            </h2>
                            <p>
                                Create New Invoice
                            </p>
                            <hr />

                            <div class="row">
                                <div class='col-md-6'>
                                    <div class='form-group'>
                                        <label class='control-label' for='form-field-select-1'>
                                            Doctor <span class="symbol required"></span>
                                        </label>
                                        @Html.DropDownListFor(m => m.SelectedDoctorIDs, MedOR.Common.Comm.GetDoctorList(@Model.DoctorModels), "--Select user's Doctor--", new { @class = "form-control", id = "SelectedDoctorIDs", Name = "SelectedDoctorIDs" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="form-field-select-2">
                                            Patient   <span class="symbol required"></span>
                                        </label>
                                        @Html.DropDownListFor(m => m.SelectedPatientIDs, MedOR.Common.Comm.GetPatientListDrop(@Model.PaitentModels), "--Select user's Patient--", new { @class = "form-control", id = "SelectedPatientIDs", Name = "SelectedPatientIDs" })
                                    </div>
                                </div>
                               



                                
                                @*<div class='col-md-6'><div class='form-group'>
                                    <label class='control-label' for='form-field-select-1'>
                                    Doctor <span class="symbol required"></span>
                                    </label>
                                    <select id='form-field-select-1' class='form-control search-select' name='categoryD'>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="form-field-select-2">
                                            Patient   <span class="symbol required"></span>
                                        </label>
                                        <select id="form-field-select-2" class="form-control search-select" name="categoryP">
                                        </select>
                                    </div>
                                </div>*@

                                <input type="submit" id="submit" value="Submit" />
                                @*<button class="btn btn-xs btn-bricky tooltips" type="submit"  data-original-title="ADD"><i class="fa fa-plus fa fa-white"></i></button>*@
                               
                                @*<a href="/Invoices/AddItem" class="btn btn-red btn-teal hidden-print">
                                    ADD Item <i class="fa fa-plus"></i>
                                </a>*@
                            </div>

                            <!-- start: DYNAMIC TABLE PANEL -->
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                #
                                            </th>
                                            <th class="hidden-xs">
                                                Items
                                            </th>
                                            <th>
                                                Description
                                            </th>

                                            <th class="hidden-xs">
                                                Quantity
                                            </th>
                                            <th>
                                                UnitCost
                                            </th>
                                            <th>
                                                Total
                                            </th>

                                            <th class="hidden-xs">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="table1">

                                        <tr>
@*@using (Html.BeginForm("ViewInvoices", "Invoices"))
{*@
                                                <td>

                                        </td>
                                                <td>
                                                    Consultation @*@Html.DropDownList("Consultation", new List<SelectListItem> {
                new SelectListItem { Text = "Inventory", Value = "1" },
                new SelectListItem{ Text="Consultation", Value = "2" }
                }, "--Select Item--", new { @class ="form-control", id = "items", Name = "items" })*@
                                                </td>
                                                <td>
                                            @Html.TextAreaFor(x => x.SelectedDescription, new { @class = "form-control", id = "textarea", style = "height:50px", Name = "SelectedDescription", placeholder = "Description Area" })
                                                </td>
                                                <td>
                                            @Html.TextBoxFor(x => x.SelectedQuantity, new { @class = "form-control", id = "quantity", Name = "quantity", placeholder = "--1,2,3--" }) 
                                                </td>
                                                <td>
                                                @Html.TextBoxFor(x => x.SelectedUnitCost, new { @class = "form-control", id = "unitCost", Name = "unitCost", placeholder = "--922,2.5807--" })
                                            </td>
                                                <td>
                                            @Html.TextBoxFor(x => x.SelectedTotal, new { @class = "form-control", id = "total", Name = "total", placeholder = "--922,2.5807--" })
                                                 </td>
                                                <td class="center">
                                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    
                                                       
                                                     <button class="btn btn-xs btn-bricky tooltips" type="submit" data-original-title="ADD"><i class="fa fa-plus fa fa-white"></i></button>
                                                       
                                                        @*}*@
                                                        @*@if (clinic.SecurityModel.Edit)
                    {*@
                                                        <a href="/Clinic/EditClinic?id=@*@clinic.ClinicID*@" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        @*}*@
                                                        @*@if (clinic.SecurityModel.Delete)
                    {*@
                                                        <a href="#panel-remove" class="btn btn-xs btn-bricky tooltips" data-placement="top"
                                                           data-original-title="Remove" data-toggle="modal">
                                                            <i class="fa fa-times fa fa-white">
                                                            </i>
                                                        </a>
                                                        @*}*@


                                                    </div>
                                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                        <div class="btn-group">
                                                            <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                                            </a>
                                                            <ul role="menu" class="dropdown-menu pull-right">
                                                                @*@if (clinic.SecurityModel.Edit)
                            {*@
                                                                <li role="presentation">
                                                                    <a role="menuitem" tabindex="-1" href="/Clinic/EditClinic?id=@*@clinic.ClinicID*@">
                                                                        <i class="fa fa-edit"></i>Edit
                                                                    </a>
                                                                </li>
                                                                @*}*@
                                                                @*@if (clinic.SecurityModel.Delete)
                            {*@
                                                                <li role="presentation">
                                                                    <a role="menuitem" tabindex="-1" href="#panel-remove">
                                                                        <i class="fa fa-times"></i>Remove
                                                                    </a>
                                                                </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
@*}*@
</tr>
                                     
                                        @*@{
                                            int i = 1;
                                            foreach (var model1 in @Model)
                                            {
                                               
                                                    <tr id="@model1.InvoicesModels" name="@model1.InvoicesModels.Items">
                                                        <td class="center">
                                                            @i
                                                        </td>
                                                        <td class="hidden-xs">
                                                            @model1.InvoicesModels.Items
                                                        </td>
                                                        <td>
                                                           @model1.InvoicesModels.Description
                                                        </td>
                                                        </tr>
                                                        }}*@
</tbody>
                                    


                                    @*<tr>
                                      @if (ViewData["list"] != null )
                                      {
                                        foreach (var mo in (List<object>)ViewData["mod"])
                                        {
                                            <td>
                                                @mo


                                            </td>
                                        }}
                                    
                                </tr>*@
                                </table>
                                
                                <hr />


                                @*<a href="/Invoices/AddItem" class="btn btn-red btn-teal hidden-print">
                                    ADD Item <i class="fa fa-plus"></i>
                                </a>*@
                            </div>
                        </div>
                        <!-- end: DYNAMIC TABLE PANEL -->
                    </div>
                </div>
            </div>
            <!-- end: PAGE CONTENT-->

            <div class="row">
                <div class="col-sm-12 invoice-block">
                    <ul class="list-unstyled amounts">
                        <li>
                            <strong>Sub-Total:</strong> $12876
                        </li>
                        <li>
                            <strong>Discount:</strong> 9.9%
                        </li>
                        <li>
                            <strong>VAT:</strong> 22%
                        </li>
                        <li>
                            <strong>Total:</strong> $11400
                        </li>
                    </ul>
                    <br>
                    <a onclick="javascript:window.print();" class="btn btn-lg btn-teal hidden-print">
                        Print <i class="fa fa-print"></i>
                    </a>

                </div>
            </div>
        </div>
        <!-- end: PAGE CONTENT-->
    </div>
    <!-- end: PAGE -->

    <!-- end: MAIN CONTAINER -->

    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            2014 &copy; clip-one by cliptheme.
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- END: FOOTER -->
   
</body>
<!-- end: BODY -->
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--<![endif]-->
<!-- end: MAIN JAVASCRIPTS -->
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script>
			jQuery(document).ready(function() {
			    //Main.init();
			   


			    debugger;

			    //$.ajax({
			    //    "url": "/Calendar/LoadDoctors/",
			    //    "type": "get",
			    //    "dataType": "json",
			    //    "success": function (data) {
			    //        $("#form-field-select-1").empty();
			    //        debugger;
			    //        $.each(data, function () {

			    //            if (Object.keys(data).length == 1) {
			    //                $("#form-field-select-1").append($("<option selected/>").val(this.Value).text(this.Text)).find("select[name='categoryD']");
			    //                $("#form-field-select-1").select2("val", this.Value);
			    //            }
			    //            else
			    //                $("#form-field-select-1").append($("<option />").val(this.Value).text(this.Text)).find("select[name='categoryD']");
			    //        });
			    //    }
			    //});

			    //$.ajax({
			    //    "url": "/Calendar/LoadPatients/",
			    //    "type": "get",
			    //    "dataType": "json",
			    //    "success": function (data) {
			    //        $("#form-field-select-2").empty();

			    //        $.each(data, function () {
			    //            $("#form-field-select-2").append($("<option />").val(this.Value).text(this.Text)).find("select[name='categoryP']");
			    //        });
			    //    }
			    //});

			    $("#submit").click(function () {
			        debugger;
			        var books = $("#form-field-select-2");
			        if (books.val() === '') {
			            alert("Please select an item from the list and then proceed!");
			            $("#form-field-select-2").focus();

			            return false;
			        }
			        else return;
			    });

			});


			var DateT = new Date(2018 - 01 - 26);
			document.getElementById("DateT").innerHTML = DateT;

			function fctAddItem() {

			}


</script>