﻿@{
    ViewBag.Title = "List Of Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DataModel.RoleModel>
@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css" />
}
<!-- start: PAGE CONTENT -->
<!-- start: PAGE HEADER -->
<!-- start: PANEL CONFIGURATION MODAL FORM -->
<div class="modal fade" id="panel-remove" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Remove Role</h4>
            </div>
            <div id="modalbody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel</button>
                <button type="button" onclick="return execRemove()" class="btn btn-primary">
                    OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@Html.Action("_CreateModify", "Home", new { TableName = "Roles" })
<!-- /.modal -->
<!-- end: SPANEL CONFIGURATION MODAL FORM -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#"> Roles </a></li>
            <li class="active">List Of Roles </li>
        </ol>
        <div class="page-header">
            <h1>
                List Of Roles <small>list of roles</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: DYNAMIC TABLE PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>Roles
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                        href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                            href="@Url.Action("ListOfRoles", "Security")"><i class="fa fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand"
                                href="#"><i class="fa fa-resize-full"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th class="center">
                                #
                            </th>
                            <th class="hidden-xs">
                                Name
                            </th>
                            <th>
                                Created On
                            </th>
                            <th>
                                Created By
                            </th>
                            <th>
                                Modified On
                            </th>
                            <th>
                                Modified By
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var role in @Model.ToList().OrderBy(l => l.Name))
                            {
                                if (role.SecurityModel.View)
                                { 
                                    <tr id="@role.RoleID" name="@role.Name">
                                        <td class="center">
                                            @i
                                        </td>
                                        <td class="hidden-xs">
                                            @role.Name
                                        </td>
                                        <td>
                                            @role.CreatedOn
                                        </td>
                                        <td>
                                            @role.CreatedByName
                                        </td>
                                        <td>
                                            @role.ModifiedOn
                                        </td>
                                        <td>
                                            @role.ModifiedByName
                                        </td>
                                        <td class="center">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                @if (role.SecurityModel.Edit)
                                                {
                                                    <a href="/Security/EditRole?id=@role.RoleID" class="btn btn-xs btn-teal tooltips"
                                        data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                }
                                                @if (role.SecurityModel.Delete)
                                                {
                                                    <a href="#panel-remove" class="btn btn-xs btn-bricky tooltips" data-placement="top"
                                                        data-original-title="Remove" data-toggle="modal"><i class="fa fa-times fa fa-white">
                                                        </i></a>
                                                }
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group">
                                                    <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i
                                                        class="fa fa-cog"></i><span class="caret"></span></a>
                                                    <ul role="menu" class="dropdown-menu
                                        pull-right">
                                                        @if (role.SecurityModel.Edit)
                                                        {
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/Security/EditRole?id=@role.RoleID">
                                                                <i class="fa fa-edit"></i>Edit </a></li>
                                                        }
                                                        @if (role.SecurityModel.Delete)
                                                        {
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-remove"><i
                                                                class="fa fa-times"></i>Remove </a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end: DYNAMIC TABLE PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/table-data.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableData.init();

            if ($('#viewCreatedBy').val() == 'True') {
                $('td:nth-child(3),th:nth-child(3)').show();
            }
            else if ($('#viewCreatedBy').val() == 'False') {
                $('td:nth-child(3),th:nth-child(3)').hide();
            }
            else { }

            if ($('#viewCreatedOn').val() == 'True') {
                $('td:nth-child(4),th:nth-child(4)').show();
            }
            else if ($('#viewCreatedOn').val() == 'False') {
                $('td:nth-child(4),th:nth-child(4)').hide();
            }
            else { }

            if ($('#viewModifiedBy').val() == 'True') {
                $('td:nth-child(5),th:nth-child(5)').show();
            }
            else if ($('#viewModifiedBy').val() == 'False') {
                $('td:nth-child(5),th:nth-child(5)').hide();
            }
            else { }

            if ($('#viewModifiedOn').val() == 'True') {
                $('td:nth-child(6),th:nth-child(6)').show();
            }
            else if ($('#viewModifiedOn').val() == 'False') {
                $('td:nth-child(6),th:nth-child(6)').hide();
            }
            else { }
        });

        function updateView() {
            if ($('#viewCreatedBy').is(":checked")) {
                $('td:nth-child(3),th:nth-child(3)').show();
            }
            else {
                $('td:nth-child(3),th:nth-child(3)').hide();
            }

            if ($('#viewCreatedOn').is(":checked")) {
                $('td:nth-child(4),th:nth-child(4)').show();
            }
            else {
                $('td:nth-child(4),th:nth-child(4)').hide();
            }

            if ($('#viewModifiedBy').is(":checked")) {
                $('td:nth-child(5),th:nth-child(5)').show();
            }
            else {
                $('td:nth-child(5),th:nth-child(5)').hide();
            }

            if ($('#viewModifiedOn').is(":checked")) {
                $('td:nth-child(6),th:nth-child(6)').show();
            }
            else {
                $('td:nth-child(6),th:nth-child(6)').hide();
            }
        }


        //Modal OK
        var id = '';
        $('tr').click(function () {
            id = $(this).attr('id');
            var name = $(this).attr('name');
            document.getElementById('modalbody').innerHTML = 'Are you sure you want to remove ' + name + '?';
        });

        function execRemove() {
            window.location.href = "/Security/DeleteRole?id=" + id;
            return false;
        }
    </script>
}
