﻿@{
    ViewBag.Title = "List Of Patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DataModel.PaitentModel>
@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css" />
}
<!-- start: PAGE CONTENT -->
<!-- start: PAGE HEADER -->
<!-- start: PANEL CONFIGURATION MODAL FORM -->
<div class="modal fade" id="panel-remove" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Remove Patient</h4>
            </div>
            <div id="modalbody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel</button>
                <button type="button" onclick="return execRemove()" class="btn btn-primary">
                    OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@Html.Action("_CreateModify", "Home", new { TableName = "Patients" })
<!-- /.modal -->
<!-- end: SPANEL CONFIGURATION MODAL FORM -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Patients </a></li>
            <li class="active">List Of Patients </li>
        </ol>
        <div class="page-header">
            <h1>
                List Of Patients <small>list of patients</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: DYNAMIC TABLE PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>Patients
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn
btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal"><i class="fa
fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh" href="@Url.Action("ListOfPatients", "Patient")"><i class="fa
fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand" href="#"><i class="fa
fa-resize-full"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table
table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th class="center">
                                #
                            </th>
                            <th class="hidden-xs">
                                Image
                            </th>
                            <th>
                                First Name
                            </th>
                            @*<th class="hidden-xs">
                                Middle Name
                            </th>*@
                            <th class="hidden-xs">
                                Last Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Created By
                            </th>
                            <th>
                                Created On
                            </th>
                            <th>
                                Modified By
                            </th>
                            <th>
                                Modified On
                            </th>
                            <th class="hidden-xs">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var patient in @Model.ToList())
                            {
                                if (patient.SecurityModel.View)
                                {   
                            <tr id="@patient.PatientID" name="@patient.FirstName @patient.MiddleName @patient.LastName">
                                <td class="center">
                                    @i
                                </td>
                                <td class="hidden-xs">
                                    @if (patient.Image == null)
                                    {
                                        <img src="~/Content/assets/images/avatar-1-xl.jpg" style="max-width: 30px; max-height: 30px;"
                                            alt="" />
                                    }
                                    else
                                    {
                                        <img src='@Url.Action("ShowPatientImage", "Patient", new { id = patient.PatientID })'
    style="max-width: 30px; max-height: 30px;" alt=""/>
                                    }
                                </td>
                                <td>
                                    @patient.FirstName
                                </td>
                                @* <td class="hidden-xs">
                                    @patient.MiddleName
                                </td>*@
                                <td class="hidden-xs">
                                    @patient.LastName
                                </td>
                                <td>
                                    @if (!String.IsNullOrEmpty(patient.MobilePhone))
                                    { 
                                        @patient.MobilePhone
                                    }
                                    else
                                    {
                                        @patient.HomePhone
                                    }
                                </td>
                                <td>
                                    @patient.CreatedByName
                                </td>
                                <td>
                                    @patient.CreatedOn
                                </td>
                                <td>
                                    @patient.ModifiedByName
                                </td>
                                <td>
                                    @patient.ModifiedOn
                                </td>
                                <td class="center">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Consultations">
                                            <i class="fa fa-stethoscope"></i></a>
                                        @if (patient.SecurityModel.MedicalHistoryView)
                                        {
                                            @*<a href="/PediatricMedical/Medical?firstname=@patient.FirstName&lastname=@patient.LastName&patientID=@patient.PatientID"
    class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Medical
    History"><i class="fa fa-medkit"></i></a>*@
                                            <a href="/Medicine/IMedicine"
                                               class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Internal
    Medicine"><i class="fa fa-medkit"></i></a>
                                        }
                                        @if (patient.SecurityModel.Edit)
                                        {
                                            <a href="/Patient/EditPatient?id=@patient.PatientID" class="btn btn-xs btn-teal
    tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                        }
                                        @if (patient.SecurityModel.Delete)
                                        {
                                            <a href="#panel-remove" class="btn btn-xs btn-bricky tooltips" data-placement="top"
                                                data-original-title="Remove" data-toggle="modal"><i class="fa fa-times fa fa-white">
                                                </i></a>
                                        }
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="btn-group">
                                            <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i
                                                class="fa fa-cog"></i><span class="caret"></span></a>
                                            <ul role="menu" class="dropdown-menu
    pull-right">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-stethoscope">
                                                </i>Consultation </a></li>
                                                @if (patient.SecurityModel.MedicalHistoryView)
                                                {
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/PediatricMedical/Medical?firstname=@patient.FirstName&lastname=@patient.LastName&patientID=@patient.PatientID">
                                                        <i class="fa fa-medkit"></i>Medical </a></li>
                                                }
                                                @if (patient.SecurityModel.Edit)
                                                {
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/Patient/EditPatient?id=@patient.PatientID">
                                                        <i class="fa fa-edit"></i>Edit </a></li>
                                                }
                                                @if (patient.SecurityModel.Delete)
                                                {
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-remove"><i
                                                        class="fa fa-times"></i>Remove </a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                                i++;
                                }
                            }
                        }
                    </tbody>
                </table>
                
            </div>
        </div>
        <!-- end: DYNAMIC TABLE PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/table-data.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableData.init();

            if ($('#viewCreatedBy').val() == 'True') {
                $('td:nth-child(6),th:nth-child(6)').show();
            }
            else if ($('#viewCreatedBy').val() == 'False') {
                $('td:nth-child(6),th:nth-child(6)').hide();
            }
            else { }

            if ($('#viewCreatedOn').val() == 'True') {
                $('td:nth-child(7),th:nth-child(7)').show();
            }
            else if ($('#viewCreatedOn').val() == 'False') {
                $('td:nth-child(7),th:nth-child(7)').hide();
            }
            else { }

            if ($('#viewModifiedBy').val() == 'True') {
                $('td:nth-child(8),th:nth-child(8)').show();
            }
            else if ($('#viewModifiedBy').val() == 'False') {
                $('td:nth-child(8),th:nth-child(8)').hide();
            }
            else { }

            if ($('#viewModifiedOn').val() == 'True') {
                $('td:nth-child(9),th:nth-child(9)').show();
            }
            else if ($('#viewModifiedOn').val() == 'False') {
                $('td:nth-child(9),th:nth-child(9)').hide();
            }
            else { }
        });

        function updateView() {
            if ($('#viewCreatedBy').is(":checked")) {
                $('td:nth-child(6),th:nth-child(6)').show();
            }
            else {
                $('td:nth-child(6),th:nth-child(6)').hide();
            }

            if ($('#viewCreatedOn').is(":checked")) {
                $('td:nth-child(7),th:nth-child(7)').show();
            }
            else {
                $('td:nth-child(7),th:nth-child(7)').hide();
            }

            if ($('#viewModifiedBy').is(":checked")) {
                $('td:nth-child(8),th:nth-child(8)').show();
            }
            else {
                $('td:nth-child(8),th:nth-child(8)').hide();
            }

            if ($('#viewModifiedOn').is(":checked")) {
                $('td:nth-child(9),th:nth-child(9)').show();
            }
            else {
                $('td:nth-child(9),th:nth-child(9)').hide();
            }
        }

        //Modal OK 
        var id = '';
        $('tr').click(function () {
            id = $(this).attr('id');
            var name = $(this).attr('name');
            document.getElementById('modalbody').innerHTML = 'Are you sure you want to remove ' + name + '?';
        });

        function execRemove() {
            window.location.href = "/Patient/DeletePatient?id=" + id; return false;
        }

    </script>
}
