﻿@{
    ViewBag.Title = "ViewCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.CalendarModel
@section CSS{
    <link href="~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css"
        rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/datepicker/css/datepicker.css"
        type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
        type="text/css" />
}
<!-- start: PANEL CONFIGURATION MODAL FORM -->
<div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">
                Calendar Settings</h4>
        </div>
        <div class="modal-body">
            <div style="margin-bottom: 10px">
                Select the Clinic you wish to display its schedule</div>
            @Html.DropDownListFor(m => m.SelectedClinicID, MedOR.Common.Comm.GetClinicList(@Model.ClinicModels), new { @class = "form-control", id = "clinic", Name = "clinic" })
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
            <button type="button" onclick="return selectClinic()" class="btn btn-primary" data-dismiss="modal">
                Set clinic
            </button>
        </div>
    </div>
    <!-- /.modal-content -->
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- end: SPANEL CONFIGURATION MODAL FORM -->
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Home </a></li>
            <li class="active">Calendar </li>
        </ol>
        <div class="page-header">
            <h1>
                Calendar <small>with draggable and editable appointments </small>
            </h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: FULL CALENDAR PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar"></i>Full Calendar -
                <label id="ClinicName">
                </label>
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                        href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                            href="#"><i class="fa fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand"
                                href="#"><i class="fa fa-resize-full"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div id='calendar'>
                    </div>
                </div>
                @*               <div class="col-sm-3">
                    <h4>
                        Draggable categories</h4>
                    <div id="event-categories">
                        <div class="event-category label-green" data-class="label-green">
                            <i class="fa fa-move"></i>Home
                        </div>
                        <div class="event-category label-default" data-class="label-default">
                            <i class="fa fa-move"></i>Work
                        </div>
                        <div class="event-category label-purple" data-class="label-purple">
                            <i class="fa fa-move"></i>Holidays
                        </div>
                        <div class="event-category label-orange" data-class="label-orange">
                            <i class="fa fa-move"></i>Party
                        </div>
                        <div class="event-category label-yellow" data-class="label-yellow">
                            <i class="fa fa-move"></i>Birthday
                        </div>
                        <div class="event-category label-teal" data-class="label-teal">
                            <i class="fa fa-move"></i>Generic
                        </div>
                        <div class="event-category label-beige" data-class="label-beige">
                            <i class="fa fa-move"></i>To Do
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="grey" id="drop-remove" />
                                Remove after drop
                            </label>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <!-- end: FULL CALENDAR PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
<div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">
            Appointment Management</h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-light-grey">
            Close
        </button>
        <button type="button" class="btn btn-danger remove-event no-display">
            <i class='fa fa-trash-o'></i>Delete
        </button>
        <button type="submit" class="btn btn-success save-event">
            <i class='fa fa-check'></i>Save
        </button>
    </div>
</div>
<div id="action-confirm" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false"
    style="display: none;">
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">
            Cancel
        </button>
        <button type="button" data-dismiss="modal" class="btn btn-primary">
            OK
        </button>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-calendar.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-maskmoney/jquery.maskMoney.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-colorpicker/js/commits.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/summernote/build/summernote.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-elements.js"></script>
    <script type="text/javascript">
        var previousSource;
        var previousClinicID;

        jQuery(document).ready(function () {
            Calendar.init();
            debugger;
            FormElements.init();
            var dd = document.getElementById("clinic");
            var selectedClinicName = dd.options[dd.selectedIndex].text;
            document.getElementById("ClinicName").innerText = selectedClinicName;

            previousClinicID = dd.options[dd.selectedIndex].value;
            previousSource = { url: "/Calendar/GetAppointments?ClinicID=" + previousClinicID };
        });

        function selectClinic() {
            debugger;
            var selectedClinicID = $('#clinic').val();

            var dd = document.getElementById("clinic");
            var selectedClinicName = dd.options[dd.selectedIndex].text;
            document.getElementById("ClinicName").innerText = selectedClinicName;

            var events = {
                url: "/Calendar/GetAppointments?ClinicID=" + selectedClinicID,
                type: 'POST'
            };

            $('#calendar').fullCalendar('removeEventSource', previousSource);
            $('#calendar').fullCalendar('removeEvents');
            $('#calendar').fullCalendar('addEventSource', events);

            previousClinicID = dd.options[dd.selectedIndex].value;
            previousSource = { url: "/Calendar/GetAppointments?ClinicID=" + previousClinicID };
        }
    </script>
}
