﻿@{
    ViewBag.Title = "CreateNewDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.DoctorModel
<!-- start: PAGE HEADER -->
@section CSS{
    <link rel="stylesheet" href="~/Content/assets/plugins/summernote/build/summernote.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
}
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#"> Doctors </a></li>
            <li class="active">Create New... </li>
        </ol>
        <div class="page-header">
            <h1>
                New Doctor <small>create new doctor</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>New Doctor
                <div class="panel-tools">
                   @* <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                        href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                            href="#"><i class="fa fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand"
                                href="#"><i class="fa fa-resize-full"></i></a><a class="btn btn-xs btn-link panel-close"
                                    href="#"><i class="fa fa-times"></i></a>*@
                </div>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="fa fa-pencil-square teal"></i>Create a new doctor</h2>
                <p>
                    Create a new Doctor.
                </p>
                <hr />
                <form method="post" id="form" action="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-times-sign"></i>You have some form errors. Please check below.
                        </div>
                        <div class="successHandler alert alert-success no-display">
                            <i class="fa fa-ok"></i>Your form validation is successful!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                First Name <span class="symbol required"></span>
                            </label>
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "firstname", Name = "firstname", placeholder = "Insert doctor's first name" })
                        </div>
                         <div class="form-group">
                            <label class="control-label">
                                Last Name <span class="symbol required"></span>
                            </label>
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", id = "lastname", Name = "lastname", placeholder = "Insert doctor's last name" })
                        </div>
                        @*<div class="form-group">
                            <label class="control-label">
                                Phone <span class="symbol required"></span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input type="text" id="phone" placeholder="Insert clinic's phone" class="form-control input-mask-phone"
                                    name="phone" />
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="control-label">
                                Mobile Phone <span class="symbol required"></span>
                            </label>
                            <span class="input-icon">
                            @Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control", id = "mobilephone", Name = "mobilephone" })
                            <i class="fa fa-phone"></i></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Work Phone 
                            </label>
                            <span class="input-icon">
                            @Html.TextBoxFor(x => x.WorkPhone, new { @class = "form-control", id = "workphone", Name = "workphone" }) 
                            <i class="fa fa-phone"></i></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Email 
                            </label>
                            <span class="input-icon">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "email", Name = "email" }) 
                            <i class="fa fa-envelope"></i></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Specialty <span class="symbol required"></span>
                            </label>
                            @Html.DropDownListFor(m => m.Specialty, MedOR.Common.Comm.GetSpecialtyList(@Model.DropDownModel), "--Select doctor's specialty--", new { @class = "form-control", id = "specialty", Name = "specialty" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <span class="symbol required"></span>Required Fields
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-light-grey btn-block" type="button" onclick="window.location='/Doctor/ListOfDoctors';">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-4">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-blue btn-block" type="submit">
                            Save
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/summernote/build/summernote.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-validation.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-elements.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            FormElements.init();
            FormValidator.init();
        });
    </script>
}
